@charset "utf-8";
@use "./base/functions" as *;
@use "./base/mixins" as *;

// Variables
:root {
  // Breakpoints for JS/TS
  @each $name, $value in $media-queries-breakpoints {
    --breakpoint-#{$name}: #{$value};
  }

  // Fonts
  --font: "Kumbh Sans", sans-serif;
  --menu-text-size: #{px2rem(18)};
  --menu-line-height: calc(26 / 18);

  @include css-media-queries($from-breakpoint: visible-menu) {
    --menu-text-size: #{px2rem(15)};
    --menu-line-height: calc(26 / 15);
  }

  // Colours
  --white: white;
  --black: black;
  --grey-50: #f6f8fd;
  --grey-100: #e4e9f2;
  --grey-300: #c3cad9;
  --grey-500: #69707d;
  --grey-950: #1d2026;
  --orange-300: #ffab6a;
  --orange-500: #ff7e1b;

  --primary: var(--grey-500);
  --secondary: var(--grey-950);
  --primary-background: white;
  --secondary-background: var(--grey-50);
  --tertiary-background: var(--orange-500);
  --quaternary-background: var(--grey-100);
  --quinary-background: var(--grey-500);
  --quinary-background-active: var(--grey-950);

  // Boxes, margins, paddings, gaps and shadows
  --outer-inline-size: #{px2rem(1110)};
  --outer-margin-block-start: #{px2rem(19)};
  --outer-margin-block-end: #{px2rem(70)};
  --outer-margin-inline: #{px2rem(24)};
  --header-margin: #{px2rem(24)};
  --header-padding: #{px2rem(32)};
  --header-primary-gap: #{px2rem(16)};
  --header-secondary-gap: #{px2rem(24)};
  --skip-links-inline-size: #{px2rem(16)};
  --skip-links-margin: #{px2rem(2)};
  --avatar-size: 24px;
  --avatar-border-size: #{px2rem(2)};
  --menu-gap: #{px2rem(24)};
  --menu-link-border-size: #{px2rem(4)};
  --menu-link-border-inset: #{px2rem(-44)};

  @include css-media-queries($from-breakpoint: two-column-product-form) {
    --outer-margin-block-start: #{px2rem(28)};
    --outer-margin-inline: #{px2rem(80)};
    --header-margin: #{px2rem(48)};
    --header-secondary-gap: #{px2rem(48)};
    --skip-links-margin: #{px2rem(15)};
    --avatar-size: #{px2rem(50)};
  }
  @include css-media-queries($from-breakpoint: visible-menu) {
    --outer-margin-block-end: #{px2rem(128)};
    --header-margin: #{px2rem(96)};
    --header-primary-gap: #{px2rem(56)};
    --menu-gap: #{px2rem(32)};
  }

  // Transitions

  // Values reassigned based on media queries
}
