@charset "utf-8";

/**
 * @site E-commerce Product Page
 * @author Victor Brito
 */

// Browser configuration
@use "./base/config" as *;

@use "./base/mixins" with (
  $media-queries-breakpoints: (
    two-column-product-form: 616,
    visible-menu: 1045
  )
);
@use "./variables";
@use "./base/reset";
@use "./base/print";
@use "./typo/font-face";
@use "./typo/typo";
@use "./utils/utils";
@use "./layout/layout";
@use "./header/header";
@use "./header/menu";
@use "./product/product-layout";
@use "./product/product";
@use "./cart/cart";
