@charset "utf-8";

@use "../base/mixins" as *;

/** @section Menu */
#menu {
  font-size: var(--menu-text-size);
  line-height: var(--menu-line-height);
  font-weight: bold;
  order: 1;
  grid-column: 1 / -1;
  ul {
    display: flex;
    gap: var(--menu-gap);
    flex-direction: column;
    list-style: none;
  }
  a {
    color: var(--secondary);
    text-decoration: none;
  }
  @include css-media-queries($below-breakpoint: visible-menu) {
    &:has(+ .close-menu) {
      display: grid;
      position: fixed;
      inset: 0;
      z-index: 2;
      transition: background 125ms ease-in;
      ul {
        background: var(--secondary-background);
        inline-size: 0;
        box-sizing: border-box;
        overflow: hidden;
        opacity: 0;
        transition: inline-size var(--menu-size-transition) ease-in, padding var(--menu-inner-transition) var(--menu-transition-delay) ease-in, opacity var(--menu-inner-transition) var(--menu-transition-delay) ease-in;
      }
      li:first-child {
        margin-block-start: var(--menu-ul-margin-block);
      }
      &.active {
        background: var(--septenary-background);
        ul {
          inline-size: clamp(var(--menu-ul-min-size), var(--menu-ul-ideal-size), var(--menu-ul-max-size));
          padding: var(--menu-padding-block) var(--menu-padding-inline);
          opacity: 1;
        }
      }
    }
  }
  @include css-media-queries($from-breakpoint: visible-menu) {
    font-weight: normal;
    order: initial;
    grid-column: initial;
    ul {
      flex-direction: initial;
      align-items: center;
    }
    a {
      color: var(--primary);
      display: block;
      position: relative;
      transition: color 250ms ease-in;
      &::after {
        background: var(--tertiary-background);
        content: "";
        display: block;
        inline-size: 100%;
        block-size: var(--menu-link-border-size);
        position: absolute;
        inset-block-end: var(--menu-link-border-inset);
        transform: scaleX(0);
        transition: transform 125ms ease-in;
      }
      &:hover, &:focus {
        color: var(--secondary);
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }
}
